.coworking
    &_raiting
        &__wrapper
            position: absolute
            top: 15px
            right: 15px
        &__feedback
            margin-right: 10px
            margin-top: 5px
            font-size: 12px
            color: #000
    &_card
        margin-top: 25px
        width: 100%
        height: 200px
        overflow: hidden
        border: 1px #c1c1c1 solid
        border-radius: 10px
        position: relative
        &__col
            @apply w-full h-full flex flex-col justify-between items-center
            &-1
                width: 300px
        &__carousel
            height: 200px
            width: 300px
            position: relative
            z-index: 30
        &-image
            @apply w-full h-full
            img
               height: 100%
               width: 100%
        &__arrow
            &_prev
                position: absolute
                top: 50%
                left: 10px
                color: #fff
                cursor: pointer
            &_next
                position: absolute
                top: 50%
                right: 10px
                color: #fff
                cursor: pointer
        &-info
            margin-left: 10px
            width: 100%
            height: auto
            padding: 10px
            width: 100%
        &-title
            font-weight: 700
            font-size: 18px
            margin-top: 10px
            padding-right: 80px
        &-price
            margin-top: 8px
            font-size: 16px
        &-options
            margin-top: 15px
            font-size: 14px
        &-button
            display: block
            width: 150px
            margin-right: 15px
            margin-bottom: 15px
            position: relative
            z-index: 30
            &__wrapper
                @apply w-full flex justify-end items-end gap-3
        &_click_elem
            @apply w-full h-full absolute z-20 cursor-pointer
        &-heart
            font-size: 20px
            margin-bottom: 18px
            width: 25px
            height: 25px
            cursor: pointer
            position: relative
            z-index: 30
            &.active
                fill: #FF4242
        &__wrapper
            @apply w-full h-full flex justify-start items-start relative
        &-location
            @apply flex justify-start items-start mt-3
            img
                @apply mr-1
        &-metro
            @apply text-xs mr-3
        &-address
            @apply text-xs
        

