.filters
    width: 300px
    margin-right: 30px
    &__list
        display: flex
        justify-content: flex-start
        align-items: flex-start
        flex-direction: column
        gap: 15px
        
    &__item
        width: 230px

        