{
    "singleQuote": false,
    "jsxSingleQuote": false,
    "trailingComma": "all",
    "printWidth": 200,
    "tabWidth": 4,
    "jsxBracketSameLine": false,
    "parser": "flow",
    "semi": false,
    "useTabs": false,
    "arrowParens": "avoid",
    "plugins": ["@ianvs/prettier-plugin-sort-imports"],
    "importOrder": [
      "^react$", 
      "", 
      "<THIRD_PARTY_MODULES>", 
      "", 
      "^@/http/(.*)$", 
      "", 
      "^@/service/(.*)$", 
      "", 
      "^@/helpers/(.*)$", 
      "", 
      "^@/components/(.*)$", 
      "", 
      "^@/UI/(.*)$", 
      "", 
      "^@/config/(.*)$", 
      "", 
      "^@/assets/(.*)$", 
      "", 
      "^@/styles/(.*)$", 
      "", 
      "^[.]"
    ]
  }