@import "components/CoworkingList.sass"
@import 'components/Filters.sass'
@import "components/CoworkingItems.sass"
@import "components/CoworkingCard.sass"
<<<<<<< HEAD
@import "components/Auth/Auth.sass"
=======
@import "components/Header.sass"
>>>>>>> a0dcb50d59eba72926ea80697d056c3a3fb53525

body 
    font-family: 'Montserrat'
    margin: 0

<<<<<<< HEAD
p
    margin: 0
=======
*
    box-sizing: border-box
>>>>>>> a0dcb50d59eba72926ea80697d056c3a3fb53525
