@import "components/CoworkingList.sass"
@import 'components/Filters.sass'
@import "components/CoworkingItems.sass"
@import "components/CoworkingCard.sass"
@import "components/Auth/Auth.sass"
@import "components/Header.sass"
@import "components/MainPage.sass"
@import "components/SocialMedia.sass"
@import "components/Footer.sass"
@import "components/Hero.sass"
@import "components/HowWorks.sass"
@import "components/Comfortable.sass"
@import "components/CoworkingPage.sass"
@import "components/CoworkingBlock.sass"
@import "components/Feedback.sass"
body 
    font-family: 'Montserrat'
    margin: 0

p
    margin: 0
*
    box-sizing: border-box

.container
    max-width: 1200px
    margin: 0 auto

.ant-select-selection-search-input
    height: 50px !important
    // border-radius(5px !important);

.ant-rate-star-full
    svg
        color: #1677ff
